body {
	margin: 0px;
    background-color: WhiteSmoke;
}

h1 {
	font-size:15pt;
}

.content {
	font-size: 13px;
	margin-left: 10px;
}

.content_small {
	padding: 75px 0px 35px 0px;
}

.content_large {
	padding: 50px 0px 35px 0px;
}

div.leiste_top {
	top: 0px;
    background-color: gray;
    min-width: 600px;
    width: 100%;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
}

nav a {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	font-weight: bold;
	color: black;
}

div#leiste_buttons {
	height: 25px;
	top: 35px;
	padding: 5px 0px 5px 5px;
	position: fixed;
	min-width: 400px;
	width: 100%;
	margin: 0px;
	background-color: lightgrey;
}

div#leiste_buttons button, #button, #leiste_buttons select {
	float: left;
	height: 25px;
	/*width: 40px;*/
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 5px;
}

.month {
	border: 1px;
	margin: 1px;
	padding: 2px 5px 2px 5px;
	border-style: dotted;
	background-color: lightgrey;
	font-weight: bold;
	font-style: italic;
	color: black;
	float: left;
	font-size: 14px;
}

footer {
	background-color: gray;
	width: 100%;
	position: fixed;
	bottom: 0px;
	font-weight: bold;
	padding: 5px 0px 6px 5px;
}

footer a {
	color: black;
}

table#data {
	width: 99.5%;
	border-collapse: collapse;
	text-align: left;
}


th {
	border-bottom: 2px solid gray;
}

td {
	padding: 0px 3px 0px 3px;
}

.concerts_table_date {
	min-width: 54px;
}

.concert_high_closed {
	border-bottom: 1px solid gray;
}

.concert_high_opened {
	border-bottom: 1px dotted gray;
}

.concert_low_closed {
	border-bottom: 1px none gray;
}

.concert_low_opened {
	border-bottom: 1px solid gray;
}

.concert_low td {
	padding: 0px 0px 0px 0px;
}

.concert_unpublished {
	color:blue;
}

.concert_urgent {
	color:red;
}

a.published {
	color: black;
	text-decoration: none;
}

a.unpublished {
	color:blue;
	text-decoration: none;
}


a.urgent {
	color:red;
	text-decoration: none;
}

.nazi {
	color: peru;
}

.table_elements {
	min-width: 125px;
}

.table_elements select, .table_elements button {
	display: inline-block;
	height: 25px;
	font-size: 12px;
}

.table_elements button {
	width: 50px;
	padding-left: 0px;
	margin-right: 0px;
}

.table_elements select {
	width: 70px;
	padding-left: 0px;
}

.image_message_gen {
	margin-right:3px;
}

.edit_label {
	width: 95px;
    display: inline-block;
}


.edit_text {
    width: 200px;
    margin: 5px 0 5px 0;
}

.edit_select {
    width: 235px;
    margin: 5px 0 5px 0;
}

.edit_date {
    padding: 2px 0 0 0;
    height: 20px;
    margin: 5px 0 5px 0;
}

.edit_length {
    padding: 0 0 0 0;
    width: 47px;
    height: 20px;
    margin: 5px 0 5px 0;
}

textarea {
    margin: 5px 0 5px 0;
    width: 725px;
    height: 250px;
}

#lineup {
    max-width: 1080px;
    margin: 10px 0 0px 0;
}


.fieldset_general {
    max-width: 1080px;
    padding: 15px 10px 15px 10px;
}

.fieldset_band {
    color: Navy;
    border: 0px;
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
}

#lineup button {
	padding-top:3px;
}

.edit_band_id {
    width: 235px;
}

.button_save {
    margin-top: 15px;
    margin-right: 10px;
}

.error {
	font-weight: bold;
	color: red;
	padding: 10px 10px 10px 14px;
	border: 1px;
	border-style: dotted;
	margin: 2px 4px 2px 2px;
	background-color: pink;
	width: 560px;
}

.aenderungen_todo {
	margin-bottom: 25px;
}

.todo_diff {
	color: blue;
}

.todo_diff a {
	text-decoration: none;
	color: blue;
}

.todo_data {
	float: left;
	border: dotted 1px;
	margin: 10px 10px 10px 10px;
	border-collapse: collapse;
	text-align: center;
}

.klickbar {
	cursor: pointer;
}

.event_new button {
	margin-top: 10px;
}


.datum {
	font-style: italic;
	padding-bottom: 10px;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 99.5%;
}

.thead {
    display: table-header-group;
    border-bottom: 2px solid gray;
    font-weight: bold;
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
    border-bottom: 1px solid gray;
}

.td {
    display: table-cell;
    padding: 0 3px 0 3px;
}

.tinputtext {
    font-size: 13px;
    width: 250px;
}

.tinputcheckbox {
    position: relative;
    z-index: -1;
    top: 3px;
}

.tbutton {
    font-size: 12px;
}

.tbody label, .screenreader_only {
   border:0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
   word-wrap:normal !important;
}
